<cloudview-loading-indicator></cloudview-loading-indicator>

<mat-drawer-container class="layout-container">

  <!-- QUICKPANEL -->
  <mat-drawer position="end" mode="over" #quickpanel>
    <cloudview-quickpanel></cloudview-quickpanel>
  </mat-drawer>
  <!-- END QUICKPANEL -->

  <mat-drawer-content class="drawer-content">
    <cloudview-backdrop></cloudview-backdrop>

    <div class="wrapper" fxFlex="grow" fxLayout="row">

      <!-- SIDENAV -->
      <cloudview-sidenav class="sidenav" fxFlex="none"></cloudview-sidenav>
      <!-- END SIDENAV -->

      <div class="content-wrapper" fxFlex fxLayout="column">
        <!-- TOOLBAR -->
        <cloudview-toolbar fxFlex="none" [quickpanel]="quickpanel"></cloudview-toolbar>
        <!-- END TOOLBAR -->

        <!-- CONTENT -->
        <div class="main-container"
             #scrollContainer
             [@routeAnimations]="o.isActivated && o.activatedRoute.snapshot.url"
             fxFlex>
          <router-outlet (activate)="onActivate($event, scrollContainer, o)" #o="outlet"></router-outlet>
        </div>
        <!-- END CONTENT -->

        <!-- FOOTER -->
        <!-- <cloudview-footer fxFlex="none"></cloudview-footer> -->
        <!-- END FOOTER -->
      </div>

    </div>
  </mat-drawer-content>


</mat-drawer-container>
