<div class="page" fxLayout="row" fxLayoutAlign="center center">
  <div class="login-form">
    <span class="logo-wrap"><img src="assets/img/logo.svg" alt=""></span>

    <h4>Forgotten Password ?
      <span style="display: block; font-size: 1.4rem;margin-top: 1rem;">Enter your email to reset your password:</span>
    </h4>

    <form fxLayout="column" fxLayoutGap="16px" #formDirective="ngForm" [formGroup]="forgotForm" (ngSubmit)="forgotPassword(formDirective)">

      <div fxFlex="auto" fxLayout="column">
        <mat-form-field appearance="outline" fxFlex="grow">
          <mat-icon matPrefix>account_circle</mat-icon>
          <mat-label>E-Mail</mat-label>
          <input matInput required formControlName="email" />
          <mat-error *ngIf="email.invalid && email.touched">Invalid Email</mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="center space-between" fxLayoutGap="2rem">
        <div fxFlex="50%">
          <button class="login-btn" type="submit" color="primary" mat-raised-button>
            REQUEST
          </button>
        </div>
        <div fxFlex="50%">
          <button routerLink='/login' class="cancel-btn" type="button" color="primary" mat-raised-button>
            CANCEL
          </button>
        </div>
      </div>
      <p style="margin: 2.5rem 0 0; text-align: center;">Don't have an account yet ? <a style="color: #1261A0;" class="forget-pass"
          routerLink='/register'>SignUp!</a></p>
    </form>
  </div>
</div>
<div class="progress" *ngIf="isSpinnerVisible">
  <mat-spinner></mat-spinner>
</div>
