// Colors
$primary-color: #22577a;
$secondary-color: #38a3a5;

$color-1:#57cc99;
$color-2:#c7f9cc;
$color-3: #18273C;
$color-4: #e46b74;


//SideNav
$sidenav-background-color: #11111f;
$sidenav-background-color-hover:#1B1B28;
$sidenav-toolbar-bg: #11111f;
$sidenav-bg-level2:#143C5D;
$sidenav-bg-level2-hover:rgb(0, 0, 0);
$sidenav-bg-level2-active:#1B1B28;
$sidenav-toggle-color:#22577a;

//Table
$table-head-bg:#0e0f3e;
$table-head-text-color: #ffffff;
