<div class="page" fxLayout="row" fxLayoutAlign="center center">
  <div class="login-form">
    <span class="logo-wrap"><img src="assets/img/logo.svg" alt=""></span>

    <h4>Reset Password <span style="display: block; font-size: 1.4rem;margin-top: 1rem;">Enter details to reset
        password:</span></h4>

    <form fxLayout="column" fxLayoutGap="16px" [formGroup]="resetForm" (ngSubmit)="reset()">

      <div fxFlex="auto" fxLayout="column">

        <!-- <mat-form-field appearance="outline" fxFlex="grow">
          <mat-icon matPrefix>lock_outline</mat-icon>
          <mat-label>Old Password</mat-label>
          <input matInput [type]="oldPwdInputType" formControlName="oldPassword" required />
          <button type="button" mat-icon-button matSuffix (click)="toggleOldPwdVisibility()"
            matTooltip="Toggle Visibility">
            <mat-icon *ngIf="oldPwdvisible">visibility</mat-icon>
            <mat-icon *ngIf="!oldPwdvisible">visibility_off</mat-icon>
          </button>
          <mat-error *ngIf="oldPassword.invalid && oldPassword.touched">Old Password is required</mat-error>
        </mat-form-field> -->

        <mat-form-field appearance="outline" fxFlex="grow">
          <mat-icon matPrefix>lock_outline</mat-icon>
          <mat-label>New Password</mat-label>
          <input matInput [type]="inputType" formControlName="password" required />
          <button type="button" mat-icon-button matSuffix (click)="toggleVisibility()" matTooltip="Toggle Visibility">
            <mat-icon *ngIf="visible">visibility</mat-icon>
            <mat-icon *ngIf="!visible">visibility_off</mat-icon>
          </button>
          <mat-error *ngIf="password.errors?.required && password.touched">New Password is required</mat-error>
          <mat-error *ngIf="password.errors?.minlength  && password.touched">New Password must be atleast 8 characters.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="grow">
          <mat-icon matPrefix>lock_outline</mat-icon>
          <mat-label>Confirm Password</mat-label>
          <input matInput [type]="confirmPwdInputType" formControlName="confirmPassword" required />
          <button type="button" mat-icon-button matSuffix (click)="toggleConfirmPwdVisibility()"
            matTooltip="Toggle Visibility">
            <mat-icon *ngIf="confirmPwdVisible">visibility</mat-icon>
            <mat-icon *ngIf="!confirmPwdVisible">visibility_off</mat-icon>
          </button>
          <mat-error *ngIf="confirmPassword.invalid && confirmPassword.touched">
            Password does not match
          </mat-error>
        </mat-form-field>
      </div>

      <button class="login-btn" type="submit" color="primary" mat-raised-button>
        RESET
      </button>
      <div fxLayout="row" fxLayoutAlign="start center">

      </div>
    </form>
  </div>
</div>
