@import "var";

.cloudview-list-table {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  overflow: hidden;

  .cloudview-list-header {
    height: auto;
    margin: 0;
    padding: 1rem 2rem;
    border: none;
    background: transparent;

    @include media-xs {
      height: auto;
      padding-top: $spacing;
      padding-bottom: $spacing;
    }

    .cloudview-list-name {
      color: $color-3;
      font-size: 18px;
      line-height: 32px;
      font-weight: 500;
      padding-right: $spacing;

      @include media-xs {
        border-right: none;
      }
    }

    .cloudview-filter-input {
      font-size: 16px;
      line-height: 1.125;
      border: none;
      height: 32px;

      &:focus {
        outline: none;
      }
    }

    .cloudview-filter-input-icon {
      width: 1.2em;
      color: $theme-icon;
      vertical-align: bottom;
      height: 22px;
      font-size: 22px;
      margin-right: $padding-xs;
    }

    .cloudview-column-filter {
      color: $theme-icon;
    }

    .table-filter-wrapper {
      position: relative;
      margin-left: auto;

      .cloudview-filter-input-icon {
        position: absolute;
        top: 1rem;
        left: 1.2rem;
      }

      .cloudview-filter-input {
        width: 100%;
        height: 38px;
        padding: 0.5rem 1.5rem 0.5rem 4.5rem;
        border-radius: 30px;
        background-color: #e7eef3;
        transition: 300ms ease;

        &:focus {
          background-color: #ffffff;
          box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.3);
        }
      }
    }

    .actions {
      // margin: 0 0 0 auto;

      button.mat-stroked-button {
        min-width: 60px;
        margin: 0 0.5rem;
        padding: 0.2rem 1rem;
        border-color: $color-3;
        border-radius: 30px;
        background-color: transparent;
        color: $color-3;

        mat-icon {
          width: 1.8rem;
          height: 1.8rem;
          font-size: 1.8rem;
          line-height: 1;
        }

        &.create {
          border-color: $color-3;
          background-color: $color-3;
          color: #ffffff;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .mat-header-row {
    min-height: 44px;
    background: $table-head-bg;

    .mat-header-cell {
      color: $table-head-text-color;
      font-weight: 400;

      .mat-sort-header-button {
        color: $table-head-text-color;
        text-transform: uppercase;
      }

      .mat-sort-header-arrow {
        color: $table-head-text-color;
      }

      .mat-checkbox-frame {
        border-color: #fff;
      }
    }
  }

  .mat-row {
    &:hover {
      background: rgba(black, 0.04);
    }
  }
  .mat-cell{
    font-size: 1.333rem
  }
  .mat-cell.image-cell,
  .mat-header-cell.image-cell {
    flex: 0;
    min-width: 90px;
    justify-content: center;

    img {
      border-radius: 50%;
      height: 35px;
      width: 35px;
      vertical-align: middle;
    }
  }

  .mat-cell.actions-cell,
  .mat-header-cell.actions-cell {
    flex: 0;
    min-width: 280px;
    justify-content: center;
    overflow: visible;

    button {
      margin: 0 0.5rem;
      background-color: #f9f9f9;
      color: $theme-icon;

      mat-icon {
        width: 1.8rem;
        font-size: 1.8rem;
      }

      &.disabled{
        color: #dddddd;
      }
    }
  }

  .paginator {
    display: block;
    padding: 1rem 0 0;
    background: #fafafa;

    .mat-paginator-container {
      min-height: initial;
      justify-content: space-between;

      .mat-paginator-page-size {
        width: auto;
        color: $secondary-color;

        .mat-paginator-page-size-select {
          .mat-form-field-flex {
            width: 7rem;
            height: 3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.1rem 1rem;
            border: 1px solid;
            border-radius: 3px;
            background-color: transparent;

            .mat-form-field-infix {
              width: auto;
              padding: 0;
              border: none;
            }
          }

          .mat-form-field-underline {
            display: none;
          }

          .mat-select-arrow-wrapper {
            transform: translateY(-10%);
          }
        }
      }

      .mat-paginator-range-actions {
        .mat-paginator-range-label {
          color: $secondary-color;
        }
      }
    }
  }

  /**
    Responsive Table
   */
  .cloudview-mobile-label {
    display: none;
  }

  @include media-xs {
    .cloudview-list-header {
      .table-filter-wrapper {
        margin: 15px 0;
      }
    }

    .cloudview-mobile-label {
      width: 80px;
      display: inline-block;
      margin: 0 15px 0 0;
      font-weight: 500;
    }

    .mat-header-row {
      display: none;
    }

    .mat-row {
      flex-direction: column;
      align-items: start;
      padding: $spacing/3 $spacing;
      min-height: auto;
    }

    .mat-cell {
      padding-top: $spacing/3;
      padding-left: 0;

      &.actions-cell {
        width: calc(100% + 12px);
        justify-content: flex-start;
        margin: 20px 0 0 -24px;
        padding: 0 18px;

        .cloudview-mobile-label {
          display: none;
        }
      }
    }
  }
}
