<div class="padding breadcrumb-title-wrap">
  <h2>Profile</h2>
  <ul>
    <li>
      <a routerLink="/">Dashboard</a>
      <mat-icon>chevron_right</mat-icon>
    </li>
    <li>
      <span>Profile</span>
    </li>
  </ul>
</div>
<section class="padding" fxLayout="row" fxLayoutAlign="center">
  <!-- <form fxLayout="column" class="profile-form" #formDirective="ngForm" [formGroup]="profileForm">
    <figure class="profile-image">
      <img *ngIf="user.image" src="user.image" />
      <img *ngIf="!user.image" src="/assets/img/avatars/1.jpg" />
    </figure>
    <div class="default-form__group" fxLayout="column">
      <div class="default-form__group__fields">
        <label>Name</label>
        <input matInput style="font-size: 2rem;font-weight: 500;" required formControlName="fullName" />
      </div>
      <div class="default-form__group__fields">
        <label>Email</label>
        <input matInput required formControlName="email" />
      </div>
    </div>
    <div class="button-wrapper" fxLayout="row" fxLayout.lt-sm="row wrap" fxLayoutAlign="center">
      <button routerLink='/dashboard' class="btn-default" mat-button>
        Cancel
      </button>
    </div>
  </form> -->
</section>
