<div class="padding breadcrumb-title-wrap">
  <h2>Catalog</h2>
  <ul>
    <li>
      <a routerLink="/">Dashboard</a>
      <mat-icon>chevron_right</mat-icon>
    </li>
    <li>
      <span>Catalog</span>
    </li>
  </ul>
</div>
<section class="padding">
  <cloudview-list name="Catalog" (filterChange)="onFilterChange($event)">
    <div class="actions">
      <button class="create" type="button" mat-stroked-button color="primary" (click)="openAddModal(add)">
        <mat-icon svgIcon="icon-add"></mat-icon>
      </button>
    </div>
    <mat-table #table [dataSource]="dataSource" matSort>
      <ng-container *ngFor="let column of columns">
        <ng-container *ngIf="column.isModelProperty" [matColumnDef]="column.property">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ column.name }}</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <span class="cloudview-mobile-label">{{ column.name }}</span>
            {{ row[column.property] }}
          </mat-cell>
        </ng-container>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell class="actions-cell" *matHeaderCellDef>ACTION</mat-header-cell>
        <mat-cell class="actions-cell" *matCellDef="let row">
          <span class="cloudview-mobile-label"></span>
          <button (click)="openEditModal(edit, row)" matTooltip="Edit" Class="default-tool-tip" mat-icon-button>
            <mat-icon>edit</mat-icon>
          </button>
          <button (click)="openDeleteModal(delete, row)" matTooltip="Delete" Class="default-tool-tip" mat-icon-button>
            <mat-icon svgIcon="icon-trash"></mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="visibleColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: visibleColumns" class="clickable"></mat-row>
    </mat-table>
    <div class="nodata" *ngIf="pageLength == 0">No Data Found</div>
    <mat-paginator class="paginator" [pageSize]="pageSize" [pageSizeOptions]="[10, 15, 25, 100]" [length]="pageLength">
    </mat-paginator>
  </cloudview-list>
</section>

<ng-template #delete>
  <span class="modal-icon">
    <mat-icon svgIcon="icon-trash"></mat-icon>
  </span>
  <div class="modal-content-wrap">
    <mat-dialog-content>
      Are you sure?
    </mat-dialog-content>
    <div mat-dialog-actions>
      <button mat-button [mat-dialog-close]>
        Cancel
      </button>
      <button mat-button [mat-dialog-close] (click)="deleteRow()" class="btn-default btn-red">
        Delete
      </button>
    </div>
  </div>
</ng-template>

<ng-template #add>
  <span class="modal-icon">
    <mat-icon svgIcon="icon-catalog"></mat-icon>
  </span>
  <div class="modal-content-wrap">
    <mat-dialog-content>
      <cloudview-add-catalog (refresh)="loadModel()"></cloudview-add-catalog>
    </mat-dialog-content>
  </div>
</ng-template>

<ng-template #edit>
  <span class="modal-icon">
    <mat-icon svgIcon="icon-catalog"></mat-icon>
  </span>
  <div class="modal-content-wrap">
    <mat-dialog-content>
      <cloudview-add-catalog [id]="editId" (refresh)="loadModel()"></cloudview-add-catalog>
    </mat-dialog-content>
  </div>
</ng-template>
