<div class="custom-upload" [class.drageOver]="dropzoneActive" [ngClass]="fileUp ? 'fileup':''">
  <label class="up-button" fileDrop (filesDropped)="handleUpload($event, attachments)"
    (filesHovered)="dropzoneState($event)">
    <mat-icon svgIcon="icon-upload"></mat-icon>
    <h3>Drag files to upload</h3>
    <h6>or </h6>
    <span class="btn-dummy">Browse</span>

    <input id="fileSelector" #uploadInput type="file" (change)="handleUpload($event.target.files, attachments)" />
  </label>

  <div class="uploaded-files" *ngIf="fileUp">
    <div class="uploaded-files__wrap" *ngFor="let attachment of attachments; let i = index">

      <figure class="uploaded-files__wrap__thumb" [class.no-border]="attachment.filetypeview == 'other'">

        <img *ngIf="attachment.filetypeview == 'image'" src="{{
            attachment.url
              ? attachment.url
              : attachment.value
          }}" alt="image attachment" />

        <video *ngIf="
          attachment.filetypeview == 'video' && attachment.url == undefined
        " src="{{
          attachment.url
            ? attachment.url
            : attachment.value
        }}" autoplay [muted]="true" loop cover>
          Your browser does not support the video tag.
        </video>

        <mat-icon *ngIf="attachment.filetypeview == 'other'" svgIcon="icon-files"></mat-icon>
        <mat-icon *ngIf="attachment.filetypeview == 'audio'" svgIcon="icon-audio"></mat-icon>
      </figure>

      <h4 class="uploaded-files__wrap__info" [class.featured]="attachment.isFeatured">
        <span class="file-name">{{ attachment.filename }}</span>
        <span class="file-size">{{attachment.fileSize }}</span>
      </h4>

      <button class="btn-delete" type="button" (click)="removeAttachment(i)">
        <mat-icon svgIcon="icon-cross"></mat-icon>
      </button>
    </div>
  </div>
</div>

<ng-template #multiFile>
  <h2 mat-dialog-title>Error</h2>
  <mat-dialog-content class="error">
    Multiple files not allowed. <br>
    Please select a single file.
  </mat-dialog-content>
  <div mat-dialog-actions>
    <button mat-raised-button [mat-dialog-close] class="btn-default small">Ok</button>
  </div>
</ng-template>
