@import "var";

cloudview-camera {
  .enabledCameraStatus {
    color: $color-1;
    cursor: pointer;
  }
  .disabledCameraStatus {
    color: $color-4;
    cursor: pointer;
  }
  .mat-slide-toggle-thumb {
    background-color: #e46b74;
  }
  .mat-slide-toggle-bar {
    background-color: rgba(228, 107, 116, 0.5);
  }
  .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: rgba(87, 204, 153, 0.5);
  }
  .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #57cc99;
  }
  .view {
    cursor: pointer;
  }
}
